<!DOCTYPE html>

<html>
  <head>
    <title>FooDo</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <div>
    <body>
      <nav class="navbar">
        <div class="nav-container">
          <a href="#" class="nav-logo"
            ><img src="{{ url_for('static', filename='images/Logo2.ico') }}" alt="logo" class="logo"
          /></a>
          <div class="nav-toggle">
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
          </div>
          <div class="nav-menu">
            <ul class="nav-list">
              <li class="nav-item">
                <a
                  href="{{ url_for('.Dashboard', _anchor='exactlocation') }}"
                  class="nav-link"
                  >DASHBOARD</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="{{ url_for('.Requestlist', _anchor='exactlocation') }}"
                  class="nav-link"
                  >REQUEST POOL</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="{{ url_for('.Donationlist', _anchor='exactlocation') }}"
                  class="nav-link"
                  >DONATION POOL</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="{{ url_for('.homeiu', _anchor='exactlocation') }}"
                  class="nav-link"
                  >LOGOUT</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <div class="table">
          <div class="table-header">
            <div class="header__item">
              <a id="name" class="filter__link" href="#">Name</a>
            </div>
            <div class="header__item">
              <a id="name" class="filter__link" href="#">Quantity</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#"
                >Address</a
              >
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#"
                >Contact</a
              >
            </div>
            
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#"
                >Status</a
              >

            </div>
          </div>
          <div class="popup">
            <h2>Request submitted successfully!</h2>
            <button id="close-popup" class="signform-submit-btn-green">
              Ok
            </button>
          </div>

          <div class="table-content">
            {% if donationlist %}
            {% for row in donationlist %}
            <div class="table-row">
              <div class="table-data">{{row[1]}}</div>
              <div class="table-data">{{row[2]}}</div>
              <div class="table-data">{{row[3]}}</div>
              <div class="table-data">{{row[4]}}</div>
              <div class="table-data">
                <div class="signform-btn">
                  <button
                    class="signform-submit-btn-green-req"
                    id="signform-submit-btn-green"
                    type="submit"
                    value="{{row[0]}}"
                  >
                    ACCEPT DONATION
                  </button>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <p style="text-align: center;">No Requests</p>
            {% endif %}
          </div>
        </div>
      </div>
    </body>
  </div>
</html>

<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.7.1.min.js"
></script>
<script type="text/javascript">
  $(document).ready(function () {
    debugger;
    var idt = "";
    // open popup when button is clicked
    $(".signform-submit-btn-green-req").click(function () {
      idt = $(this).val();
      // $("#main").animate({ opacity: 0 }, 2000);
      $(".popup").show();
    });

    // close popup when close button is clicked
    $("#close-popup").click(function () {
      $.ajax({
        url: "/acceptDonation",
        type: "POST",
        data: JSON.stringify({ id: idt }),
        contentType: "application/json",
        dataType: "json",
        success: function (response) {
          location.reload(true);
          console.log("Success:", response);
        },
        error: function (error) {
          console.log("Error:", error);
        },
      });

      $(".popup").hide();
    });
  });
</script>
