<!DOCTYPE html>
<html>

<head>
  <title>Sample Landing Page</title>
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
</head>

<body>
  <div class="main">
    <nav class="navbar">
      <div class="nav-container">
        <a href="#" class="nav-logo"><img src="{{ url_for('static', filename='images/Logo2.ico') }}" alt="logo" class="logo"></a>
        <div class="nav-toggle">
          <span class="nav-toggle-bar"></span>
          <span class="nav-toggle-bar"></span>
          <span class="nav-toggle-bar"></span>
        </div>
        <div class="nav-menu">
          <ul class="nav-list">
            <li class="nav-item">
              <a
                href="{{ url_for('.Dashboard', _anchor='exactlocation') }}"
                class="nav-link"
                >DASHBOARD</a
              >
              
            </li>
            <li class="nav-item">
              <a
                href="{{ url_for('.Requestlist', _anchor='exactlocation') }}"
                class="nav-link"
                >REQUEST POOL</a
              >
            </li>
            <li class="nav-item">
              <a
                href="{{ url_for('.Donationlist', _anchor='exactlocation') }}"
                class="nav-link"
                >DONATION POOL</a
              >
            </li>
            <li class="nav-item">
              <a
                href="{{ url_for('.homeiu', _anchor='exactlocation') }}"
                class="nav-link"
                >LOGOUT</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    <div class="conati" id = "jol">
      <div class = "signform-btn">
      <button class = "signform-submit-btn-green"id ="link1" type="button">REQUESTS</button>
     <button class= "signform-submit-btn-green" id="link2" type="button">DONATIONS</button>
     </div>
   
      
      <div class="tab-content">
        <div id="tab1">

          
      <h1>My Requests</h1>


      <div>
        <div class="table1">
          <div class="table-header">
            <div class="header__item">
              <a id="name" class="filter__link" href="#">Name</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#">Quantity</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#">Address</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#">Contact</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#">Status</a>
            </div>
          </div>
          <div class="table-content">
            {%if requestlist%}
              {% for row in requestlist %}
              <div class="table-row">
              <div class="table-data">{{row[1]}}</div>
              <div class="table-data">{{row[2]}}</div>
              <div class="table-data">{{row[3]}}</div>
              <div class="table-data">{{row[4]}}</div>
              <div class="table-data">{{row[7]}}</div> 
            </div>
            {% endfor %}
            {% else %}
            <p style="text-align: center;">No Requests</p>
            {% endif %}
          </div>
        </div>
      </div>

           
      <h1>Accepted Requests</h1>


      <div>
        <div class="table1">
          <div class="table-header">
            <div class="header__item">
              <a id="name" class="filter__link" href="#">Name</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#">Quantity</a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#">Address

              </a>
            </div>
            <div class="header__item">
              <a id="wins" class="filter__link filter__link--number" href="#">Contact</a>
            </div>
          </div>
          <div class="table-content">
            {% if acceptedrequestlist %}
            {% for row in acceptedrequestlist %}
            <div class="table-row">
              <div class="table-data">{{row[1]}}</div>
              <div class="table-data">{{row[2]}}</div>
              <div class="table-data">{{row[3]}}</div>
              <div class="table-data">{{row[4]}}</div>
            </div>
            {% endfor %}
            {% else %}
            <p style="text-align:center;">No Requests</p>
            {% endif %}
          </div>
        </div>
      </div>



      <div class="btn-left">
        <div class="signform-btn">
          <button class="signform-submit-btn-green">
            <a  href="{{ url_for('.createRequest', _anchor='exactlocation') }}">CREATE A REQUEST</a>
          </button>
        </div>
      </div>

        </div>
        <div id="tab2" class="tab2" >
          <h1>My Donations</h1>
      
          <div>
            <div class="table1">
              <div class="table-header">
                <div class="header__item">
                  <a id="name" class="filter__link" href="#">Name</a>
                </div>
                <div class="header__item">
                  <a id="wins" class="filter__link filter__link--number" href="#">Quantity</a>
                </div>
                <div class="header__item">
                  <a id="wins" class="filter__link filter__link--number" href="#">Address</a>
                </div>
                <div class="header__item">
                  <a id="wins" class="filter__link filter__link--number" href="#">Contact</a>
                </div>
                <div class="header__item">
                  <a id="wins" class="filter__link filter__link--number" href="#">Status</a>
                </div>
              </div>
              <div class="table-content">
               {% if donationlist %}
                {% for row in donationlist %}
                <div class="table-row">
                  <div class="table-data">{{row[1]}}</div>
                  <div class="table-data">{{row[2]}}</div>
                  <div class="table-data">{{row[3]}}</div>
                  <div class="table-data">{{row[4]}}</div>
                  <div class="table-data">{{row[7]}}</div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center;">No Requests</p>
                {% endif %}
              </div>
            </div>
          </div>
          <h1>Accepted Donations</h1>
      
          <div>
            <div class="table1">
              <div class="table-header">
                <div class="header__item">
                  <a id="name" class="filter__link" href="#">Name</a>
                </div>
                <div class="header__item">
                  <a id="wins" class="filter__link filter__link--number" href="#">Quantity</a>
                </div>
                <div class="header__item">
                  <a id="wins" class="filter__link filter__link--number" href="#">Address</a>
                </div>
                <div class="header__item">
                  <a id="wins" class="filter__link filter__link--number" href="#">Contact</a>
                </div>
              </div>
              <div class="table-content">
                {% if accepteddonationlist %}
                {% for row in accepteddonationlist %}
                <div class="table-row">
                  <div class="table-data">{{row[1]}}</div>
                  <div class="table-data">{{row[2]}}</div>
                  <div class="table-data">{{row[3]}}</div>
                  <div class="table-data">{{row[4]}}</div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align:center;">No Requests</p>
                {% endif %}
              </div>
            </div>
          </div>
    
          <div class="btn-left">
            <div class="signform-btn">
              <button class="signform-submit-btn-green">
                <a  href="{{ url_for('.createDonation', _anchor='exactlocation') }}">MAKE DONATION</a>
              </button>
            </div>
          </div>
        </div>
      </div>
  

    </div>

    <div class="conati">
    </div>
    <footer>
      <p>&copy; Foodo - Designed in the interest of public 2023</p>
  </footer>
</body>

</html>

<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.7.1.min.js"
></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#link2').click(
      function(e){
        e.preventDefault();
        debugger;
        $('#tab1').addClass('tab1');
        $('#tab2').removeClass('tab2');
      }
    )

    $('#link1').click(
      function(e){
        e.preventDefault();
        debugger;
        $('#tab2').addClass('tab2');
        $('#tab1').removeClass('tab1');
      }
    )

  });
</script>